<div class="bg-white p-8 rounded-lg shadow-lg">
	<div class="bg-green-100 p-6 rounded-lg text-center">
		<h1 class="text-2xl font-bold mb-4">كوبونات الحسم بنسبة 30%</h1>
		<div class="my-4">
			<salla-count-down color="#baf2e5" boxed="true" digits="en" size="md" date="{{component.count_down_end_date}}"></salla-count-down>
		</div>
		<salla-button href="https://www.salla.sa/" fill="solid" color="light">
			Redirect URL
		</salla-button>
	</div>
</div>
