<div class="container my-5">
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		<div class="relative">
			<video class="rounded-2xl w-full h-auto" src="{{component.wide_withvideo_url}}" muted="" loop="" autoplay=""></video>
			<div class="absolute inset-0 bg-black opacity-25 rounded-2xl"></div>
			<img src="{{store.logo}}" class="absolute bottom-5 left-5 z-10 w-12 h-12 rounded-2xl" alt="logo">
		</div>
		<div class="flex flex-col justify-center items-center md:items-start">
			<h2 class="text-xl font-bold">{{component.wide_withvideo_title}}</h2>
			<p class="text-gray-700">{{component.wide_withvideo_paragraph}}</p>
		</div>
	</div>
</div>
